body{
    align-items: center;
    background-image: url("imgs/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: auto;
    justify-content: space-around;
    left: calc(50vw - 50vmin);
    position: absolute;
    width: 100vmin;
}
header{
    align-items: center;
    background: linear-gradient(to right, transparent, rgba(144, 11, 14, 0.8) 5%, rgba(144, 11, 14, 0.8) 95%, transparent);
    box-sizing: border-box;
    display: flex;
    height: 6vh;
    justify-content: space-between;
    min-height: 2em;
    padding: 0 6vmin;
    width: 100vmin;
}
nav > a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}
#title{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: 1vmin;
}
div{
    background: white;
    border-radius: 1em;
    box-shadow: 0 0 1em #0003;
    margin: 1rem 0;
    padding: 1rem;
    width: 90vmin;
}
#about{
    min-height: calc(40vh + 2rem);
}
#logo{
    float: left;
    height: 40vh;
    margin: 0 1rem;
    max-width: 90vmin;
}
#desc{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin: 1rem;
}
#horarios h2{
    margin: 0;
}
.horario{
    background: rgb(144, 11, 14);
    box-shadow: none;
    box-sizing: border-box;
    border-radius: .5em;
    color: white;
    margin: .5rem;
    padding: 1em;
    width: calc(100% - 1rem);
}
#mapa{
    border-radius: 4px;
}
@media(orientation: portrait){
    #about{
        display: flex;
        flex-direction: column;
    }
}